services:
  master:
    image: postgres:18
    container_name: "master"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication
    ports:
      - "5432:5432"
    networks:
      - async
    volumes:
      - ./data/pgdata1:/var/lib/postgresql
    command: postgres -c max_wal_senders=10 -c wal_level=logical -c hot_standby=on

  slave1:
    image: postgres:18
    container_name: "slave1"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication
    ports:
      - "5433:5432"
    volumes:
      - ./data/pgdata2:/var/lib/postgresql
    networks:
      - async
    depends_on:
      - master

  slave2:
    image: postgres:18
    container_name: "slave2"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication
    ports:
      - "5434:5432"
    volumes:
      - ./data/pgdata3:/var/lib/postgresql
    networks:
      - async
    depends_on:
      - master

  slave3:
    image: postgres:18
    container_name: "slave3"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication
    ports:
      - "5435:5432"
    volumes:
      - ./data/pgdata4:/var/lib/postgresql
    networks:
      - async
    depends_on:
      - master


networks:
  async:
    driver: bridge